<%= form_for(request) do |f| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>Nombre</p>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <p>Edad</p>
    <%= f.number_field :age %>
  </div>

  <div class="field">
    <p>Tu nombre de Minecraft</p>
    <%= f.text_field :nickname %>
  </div>

  <div class="field">
    <p>¿Cómo nos encontraste?</p>
    <%= f.text_area :foundUs %>
  </div>

  <div class="field">
    <p>¿Por qué quieres unirte?</p>
    <%= f.text_area :requestReason %>
  </div>

  <div class="field">
    <p>Correo electrónico</p>
    <%= f.text_field :email %>
  </div>

  <div class="actions">
    <%= f.submit "Enviar", :class => "button"%>
  </div>
<% end %>
